
main {
  background-color: gainsboro;
}


h2 {
  margin: 0;
  padding: 32px 0;
  text-align: center;
  font-weight: normal;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;

}


li {
  padding: 32px;
  margin:0 auto;
  border: solid 1px black;
  background-color: white;
  width: 500px;
  font-size: 18px;

  
}


li+li {
  border-top: 0;
  border-bottom: 1px solid black;
}

.newthread {
  margin: auto;
  width: 480px;
  text-align: center;
}

.inputtitle {
  width: 320px;
  padding: 16px;
  margin: 48px;

}

.inputtitle:focus {
  outline: 0;
}

.inputcontainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inputbutton {
  color: white;
  background-color: #63c178;
  padding: 8px 32px;
  border-radius: 8px;
  border:none;

}

.inputbutton:hover {
  opacity: 80%;
  cursor:pointer;
}